# dependencies
node_modules/
**/node_modules/

# env/secrets
.env
**/.env

# build outputs
/dist/
**/dist/

# local data store
/data/
!/data/.gitkeep

# logs
npm-debug.log*
yarn-debug.log*
yarn-error.log*

# OS/editor
.DS_Store
Thumbs.db
.vscode/
.idea/
